.sideNav {
  background-color: blueviolet;
  padding: 20px;
  height: 114vh;
  margin: 0;
}

.sideNav li {
  list-style: none;
  font-size: 18px;
  color: #fff;
  padding: 20px 10px;
  width: 280px;

  display: flex;
  align-items: center;
  place-items: center;
  gap: 10px;
  
}

li span{
    display: flex;
}
